<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./assets/css/burger-style.css" />
    <script src="./assets/js/main.js"></script>
    <title>Eat da Burger!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>